{% extends "baseAdmin.html.twig" %}

{% block body %}
<div class="card-content silver">
    <div class="-header">
        <h5>Payments</h5>
    </div>
    <div class="-body">
        <div class="sales-chart">
            {#  #}
        </div>
    </div>
</div>
{% endblock %}