.drow {
    gap: 20px;
    display: flex;
    flex-direction: row;

    div {
        flex: 1;

        &.left {
            flex: none;
            height: 100%;
            margin: auto;
            display: block;
    
            img {
                margin: auto;
    
                @media screen {
                    width: 100%;
                }
            }
        }
    
        &.rigth {
            flex: none;
    
            .product-title {
                font-weight: 700;
                font-size: 1.2rem;
            }
    
            .description {
                font-size: large;
            }
        }
    }
}